*.db
migrations.json
test_client/
.vscode/
gui_client/.ipynb_checkpoints/
gui_client/__pycache__/
gui_client/images/
gui_client/fonts/
gui_client/cache.json
gui_client/credentials.py
gui_client/icon.py
backend/__pycache__/
backend/.ipynb_checkpoints/
backend/migrations
backend/asyncio.ipynb
gui_client/src/__pycache__/
__pycache__/

